[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
earthengine-api = "*"
intake-stac = "*"
jupyter = "*"
folium = "*"
geopandas = "*"
rasterio = "*"
geoviews = "*"
scipy = "*"

[requires]
python_version = "3.8"
