[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
jupyterlab = "*"

[packages]
earthengine-api = "*"
intake-stac = "*"
folium = "*"
geopandas = "*"
rasterio = "*"
scipy = "*"
msgpack = "*"
toolz = "*"
intake-geopandas = "*"

[requires]
python_version = "3.8"
